a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 10px;
    border-radius: 15px 50px 30px 5px;
    margin: 5px;
    background-color: rgb(95, 148, 95);
    color: white;
    text-decoration: none;
    transition: transform 1s;
}
a.button:hover{
    background-color:  rgb(23, 124, 23); 
}
a.button:hover {
    transform: scale(1.1) rotate(360deg);
}
.quote-box {
    width: 300px;
    height: 200px;
    margin: 25px 50px 25px 50px;
    border-radius: 5px;
    background-color: rgb(200, 238, 225);
    text-align: center;
}
.quote-box-text {
    text-align: center;
    font-size: 1.5em;
    color: rgb(95, 148, 95);
}
.quote-box-author {
    @extend .quote-box-text;
    text-align: left;
    font-size: 1em;
}
hr {
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(95, 148, 95);
}